@import url(https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css);

body {
	background-color: cadetblue;
}

#appName {
	font-family: 'Lobster', cursive;
	font-size: 3em;
	text-align: center;
	color: white;
/*	background-image: url('../img/bumbershoot_BG.jpg');
	background-repeat: no-repeat;*/
    background-size: 100% 100%;
}

#appDescribe, #listDiv h2 {
	color: white;
	text-align: center;
	font-variant: small-caps;
	font-style: italic;
}

#skLogo {
	position:absolute;
	height: 20px;
	top: 0;
	right: 0;
}

#searchForm {
	padding: 1em;
}

#map-container {
    height: 75vh;
}

#header {
	min-height: 150px;
}

.eventTitle {
	font-family: helvetica, sans-serif;
	font-size: 30px;
}

#footer {
	width: 100vw;
	font-size: 12px;
	color: white;
	padding: 1em .5em;
	background-color: dimgray;
	border-top: 2px solid darkblue;
	overflow: hidden;
}

#createdBy {
	display: inline;
	margin: 0;
	padding: 0;
}

#apiCredit {
	float: right;
	display: inline;
	margin: 0;
	padding: 0;
}

@media screen and (min-width: 768px) {

	#listDiv {
		width: 25vw;
		min-height: 90vh;
		float: left;
	}

	#map-container {
		min-height: 100vh;
	}

	#appName {
		font-size: 6em;
	}

	#appDescribe {
		font-size: 2em;
	}

	#skLogo {
		height: 30px;
	}

	footer {
		font-size: 16px;
	}

}