@import url(https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css);

body {
	background-color: cadetblue;
}

#appName {
	font-family: 'Lobster', cursive;
	font-size: 3em;
	text-align: center;
	color: white;
/*	background-image: url('../img/bumbershoot_BG.jpg');
	background-repeat: no-repeat;*/
    background-size: 100% 100%;
}

#appDescribe {
	color:white;
	text-align: center;
	font-size: 1.5em;
}

#searchForm {
	padding: 1em;
}

#map-container {
    height: 75vh;
}

#listDiv h2 {
	text-align: center;
}

#header {
	min-height: 150px;
}

.eventTitle {
	font-family: helvetica, sans-serif;
	font-size: 30px;
}

@media screen and (min-width: 768px) {

	#listDiv {
		width: 25vw;
		min-height: 90vh;
		float: left;
	}

	#map-container {
		height: 90vh;
	}

	#appName {
		font-size: 6em;
	}

	#appDescribe {
		font-size: 2em;
	}

}