<div id="searchForm">
    <!-- TODO: Richard forms-->
    <form name="searchForm" novalidate>
    	<div class="row">
			<div class="col-md-4">
				<label>City</label>
				<input type="text" class="form-control" name="city" id="city" placeholder="Search a City" ng-model="city" required>
			</div>
			<!--<div class="col-md-4">-->
				<!--<label>State</label>-->
				<!--<input type="text" class="form-control" name="state" id="state" placeholder="Search a State" ng-model="state" required>-->
			<!--</div>-->
			<!--<div class="col-md-4">-->
				<!--<label>Radius (in miles)</label>-->
				<!--<input type="number" class="form-control" min=1 name="radius" id="radius" placeholder="Radius" ng-model="radius" required>-->
			<!--</div>-->
		<!--</div>-->
		<!--<div class="row">-->
			<div class="col-md-4">
				<label>Start Date</label>
				<p class="input-group">
					<input id="startDate" type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="dateStart" is-open="status.isOpen" ng-click="status.isOpen=true" min-date="today" datepicker-options="dateOptions" ng-required="true" close-text="Close" ng-model="startDate" />
					<span class="input-group-btn">
						<button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
					</span>
				</p>
			</div>
			<div class="col-md-4">
				<label>End Date</label>
				<p class="input-group">
					<input id="endDate" type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="dateEnd" is-open="status.isOpen" ng-click="status.isOpen=true" min-date="today" datepicker-options="dateOptions" ng-required="true" close-text="Close" ng-model="endDate" />
					<span class="input-group-btn">
						<button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
					</span>
				</p>
			</div>
		</div>
		<button id="submitButton" class="btn btn-primary" type="submit" ng-click="submitForm(searchForm)" ng-disabled="searchForm.$invalid">search concerts & festivals</button>
    </form>
</div>

<div id="alertArea">

</div>

<div id="resultsArea">
	<!-- Houses the list of results-->
	<div id="listDiv">
		<h2>Events Shown on Map</h2>
		<input name="query" placeholder="Search" id="search" ng-model="searchQuery" ng-show="eventData.length > 0">
		<ul id="resultsList">
			<li ng-repeat="data in eventData | filter:searchQuery">
				<p>{{data.displayName}}</p>
				<a href={{data.uri}} target="_blank">Link</a>
				<a href="" ng-click="locate(data)">Find on Map</a>
			</li>
		</ul>
	</div>

	<!-- The map -->
	<div id="map-container"></div>
</div>

